@using WEBBAKERYPro.Models
@model List<MatHangMua>
@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    KHACHHANG khach = Session["TaiKhoan"] as KHACHHANG;
}

<table class="table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Đơn giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sanpham in Model)
        {
            <tr>
                <td id="sanpham">
                    <table>
                        <tr>
                            <td>
                                <a href="@Url.Action("Details","Home",new {id=sanpham.MaBanh})">
                                    <img src="~/Images/@sanpham.AnhBanh" width="130px" height="130px" />
                                </a>
                            </td>
                            <td>
                                <h6>@sanpham.TenBanh</h6>
                                <div>@sanpham.MaBanh</div>
                            </td>
                        </tr>
                    </table>
                </td>
                @using (Html.BeginForm("CapNhatMatHang", "ShoppingCart", new { MaSP = sanpham.MaBanh }))
                {
                    <td style="color: #da1a32;font-weight:bold;">@sanpham.GiaBanh</td>
                    <td>
                        @sanpham.SoLuong
                    </td>
                    <td>@sanpham.ThanhTien()</td>
                }
            </tr>
        }
        <tr>
            <td style="font-weight:bold;color:black;font-size:24px;">Tổng số lượng: @ViewBag.TongSL</td>
            <td style="font-weight:bold;color:black;font-size:24px;">Tổng tiền: @ViewBag.TongTien</td>
        </tr>
    </tbody>
</table>
<h2 style="margin-left:8px;">THÔNG TIN KHÁCH HÀNG</h2>
<table class="table table-bordered">
    <tr>
        <td>Họ tên: </td>
        <td>@khach.HoTen</td>
    </tr>
    <tr>
        <td>Địa chỉ: </td>
        <td>@khach.DiaChi</td>
    </tr>
    <tr>
        <td>Điện thoại: </td>
        <td>@khach.SDT</td>
    </tr>
    <tr>
        <td>Ngày đặt: </td>
        <td>@DateTime.Now.ToShortDateString()</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Đồng ý đặt hàng", "DongYDatHang", "ShoppingCart", new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Quay lại giỏ hàng", "Index", "ShoppingCart", new { @class = "btn btn-dark" })</td>
    </tr>
</table>