
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th {
        text-align: center;
        border-bottom: 1px solid black;
        background: #f8f5f0;
        padding: 8px 60px 8px 60px;
    }

    td {
        text-align: center;
    }

    tr {
    }

    img {
        border-radius: 5px;
    }
</style>

<h2>Thông tin giỏ hàng</h2>
<div class="row">
    <div class="col-9">
        <table>
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sanpham in Model)
                {
                    <tr>
                        <td id="sanpham">
                            <table>
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Details","Home",new {id=sanpham.MaBanh})">
                                            <img src="~/Images/@sanpham.AnhBanh" width="110px" style="border-radius: 50%;" />
                                        </a>
                                    </td>
                                    <td style="padding: 15px;">
                                        <a href="@Url.Action("Details","Home",new {id=sanpham.MaBanh})" style="text-decoration: none; color: black;">
                                            <h6>@sanpham.TenBanh</h6>
                                            <div>@sanpham.MaBanh</div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        @using (Html.BeginForm("CapNhatMatHang", "ShoppingCart", new { MaSP = sanpham.MaBanh }))
                        {
                            <td style="color: #da1a32;font-weight:bold;">@sanpham.GiaBanh</td>
                            <td>
                                <input type="number" min="1" value="@sanpham.SoLuong" name="SoLuong" style="border-radius: 10px; width: 60px; height: 30px;" />
                            </td>
                            <td>@sanpham.ThanhTien()</td>
                            <td>
                                <button type="submit" class="btn btn-outline-primary">Cập nhật</button>
                            </td>
                        }
                        <td style="padding-left: 10px;"> @Html.ActionLink("Xóa hàng", "XoaMatHang", "ShoppingCart", new { MaSP = sanpham.MaBanh }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-3" style="background-color: #f8f5f0; padding: 20px; border-radius: 5px;">
        <h3 style="margin-bottom: 20px;">Tổng kết đơn hàng</h3>
        <b><div style="margin-bottom: 10px;">Tổng số lượng: @ViewBag.TongSL</div></b>
        <b><div>Tổng tiền: @ViewBag.TongTien</div></b>
        <div style="margin-top: 20px;">
            @Html.ActionLink("Đặt hàng", "DatHang", "ShoppingCart", new { @class = "btn btn-success", style = "text-decoration: none; color: #fff; padding: 10px 20px; border-radius: 5px;" })
        </div>
    </div>
</div>

