<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<style>
    .backgroundlogin {
        background-color: rgba(0,0,0,.5) !important;
        overflow: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

        .backgroundlogin div {
            transition: 0.5s;
        }


    #layoutsignup {
        max-width: 700px;
        width: 700px;
        height: fit-content;
        position: absolute;
        top: 0;
        left: -900px;
        outline: none;
        background: white;
    }

    .col-6 div {
        margin-top: 20px;
    }

    .col-6 input[type="text"], .col-7 input[type="password"] {
        margin-top: 3px;
    }

    #wrapperlayout {
        max-width: 700px;
        width: 700px;
        height: 400px;
        position: absolute;
        left: 450px;
        top: 225px;
        outline: none;
        background: white;
        overflow: hidden;
        border-radius:5px;
    }
</style>
<script>
    function signup() {
        var layoutlogin = document.getElementById("layoutlogin");
        var layoutsignup = document.getElementById("layoutsignup");
        var signupButton = document.getElementById("signup");
        layoutlogin.style.left = '-900px';
        layoutsignup.style.left = '0px';
    }
    function closeform() {
        document.getElementById("loginform").style.opacity = 0;
    }
</script>
<div class="backgroundlogin">
    <div id="wrapperlayout">
        <div id="layoutlogin">
            <div class="row">
                <img src="~/Images/imagelogin.jpg" alt="Alternate Text" class="col-5" height="400px" />
                <div class="col-6">
                    <h2>@ViewBag.Thongbao</h2>
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        @Html.ValidationSummary(true)
                        <h2>Xin chào!</h2>
                        <div>Tên đăng nhập</div>
                        <div class="username ">
                            @Html.TextBox("Email", null, new { @id = "username", required = "required" })
                        </div>
                        <div>Mật khẩu</div>
                        <div class="password">
                            @Html.Password("MatKhau", null, new { @id = "password", required = "required" })
                        </div>
                        <div>
                            <button style="background: #468fce; color: white; font-weight: bold;height:30px;border-radius:8px;width:100px;" type="submit">Đăng nhập</button>
                        </div>

                    }
                    <a href="@Url.Action("Register","Login")" style="position:absolute;right:50px;bottom:115px;"><button style="background: #468fce; color: white; font-weight: bold; height: 30px; border-radius: 8px; width: 100px;">Đăng ký</button></a>
                </div>
                <div class="col-1">
                    <i class="fa-solid fa-rectangle-xmark fa-xl" style="padding:10px;" onclick="closeform()"></i>
                </div>
            </div>
        </div>

    </div>
</div>