<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<style>
    .backgroundlogin {
        background-color: rgba(0,0,0,.5) !important;
        overflow: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

        .backgroundlogin div {
            transition: 0.5s;
        }


    #layoutsignup {
        max-width: 1400px;
        width: 700px;
        height: fit-content;
        position: absolute;
        top: 0;
        left: -900px;
        outline: none;
        background: white;
    }

    .col-6 div {
        margin-top: 20px;
    }

    .col-6 input[type="text"], .col-7 input[type="password"] {
        margin-top: 3px;
    }

    #wrapperlayout {
        max-width: 1400px;
        width: 700px;
        height: 450px;
        position: absolute;
        left: 450px;
        top: 125px;
        outline: none;
        background: white;
        overflow: hidden;
        border-radius: 5px;
    }

    #btnsignup {
        background: #468fce;
        color: white;
        font-weight: bold;
        height: 30px;
        border-radius: 8px;
        width: 100px;
        position: absolute;
        top: 171px;
        right: 30px;
    }
</style>
<script>
    function signup() {
        var layoutlogin = document.getElementById("layoutlogin");
        var layoutsignup = document.getElementById("layoutsignup");
        var signupButton = document.getElementById("signup");
        layoutlogin.style.left = '-1400px';
        layoutsignup.style.left = '0px';
    }
    //function closeform() {
    //    document.getElementById("loginform").style.opacity = 0;
    //}
</script>
<div class="backgroundlogin">
    <div id="wrapperlayout">
        <div id="layoutlogin" style="position:absolute;">
            <div class="row">
                <img src="~/Images/imagelogin.jpg" alt="Alternate Text" class="col-7" height="700px" />
                <div class="col-4">
                    <h2>@ViewBag.Thongbao</h2>
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        @Html.ValidationSummary(true)
                        <h2 style="text-align: center;">ĐĂNG NHẬP</h2>
                        <b><div style="text-align: center; margin-bottom: 10px; font-size: 17px">Tên đăng nhập</div></b>
                        <div style="text-align: center; margin-bottom: 10px;" class="username">
                            @Html.TextBox("Email", null, new { @id = "username", required = "required" })
                        </div>
                        <b> <div style="text-align: center; margin-bottom: 10px; font-size: 17px ">Mật khẩu</div></b>
                        <div style="text-align: center; margin-bottom: 10px;" class="password">
                            @Html.Password("MatKhau", null, new { @id = "password", required = "required" })
                        </div>
                        <p style="text-align: center; margin-top: 20px;">
                            <span>
                                <button style="background: #511f00; color: white; font-weight: bold; height: 40px; border-radius: 8px; width: 190px;" type="submit">Đăng nhập</button>                     
                            </span>
                            <span>
                                <p style="margin-top: 90px; margin-left: 45px;">Chưa có tài khoản?</p>
                                <button style="background: #511f00; margin-top: 200px; margin-right: 42px; color: white; font-weight: bold; height: 40px; border-radius: 8px; width: 190px; " id="btnsignup" onclick="signup()">Đăng ký</button>
                            </span>
                        </p>
                    }
                </div>
                <div class="col-1">
                    <i class="fa-solid fa-rectangle-xmark fa-xl" style="padding:10px;" onclick="closeform()"></i>
                </div>
            </div>
        </div>
        @Html.Action("Register", "Login")
    </div>
</div>