<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<style>
    .backgroundlogin {
        background-color: rgba(0,0,0,.5) !important;
        overflow: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

        .backgroundlogin div {
            transition: 0.5s;
        }



    .col-6 div {
        margin-top: 20px;
    }

    .col-6 input[type="text"], .col-7 input[type="password"] {
        margin-top: 3px;
    }
    #btnback {
        background: #468fce;
        color: white;
        font-weight: bold;
        height: 30px;
        border-radius: 8px;
        width: 176px;
        position: absolute;
        bottom: 301px;
        right: 24px;
    }
</style>
<script>
    function backtologin() {
        var layoutlogin = document.getElementById("layoutlogin");
        var layoutsignup = document.getElementById("layoutsignup");
        var signupButton = document.getElementById("signup");
        layoutlogin.style.left = '0px';
        layoutsignup.style.left = '-900px';
    }
</script>
<div id="layoutsignup">
    <div class="row">
        <img src="~/Images/imagelogin.jpg" alt="Alternate Text" class="col-6" height="700px" />
        <div class="col-5">
            @using (Html.BeginForm("Register", "Login"))
            {
                @Html.ValidationSummary(true)
                <h2>Xin chào!</h2>
                <h2>Đăng ký tài khoản</h2>
                <div>Họ Tên</div>
                <div class="name">
                    @Html.TextBox("HoTen", null, new { @id = "hoten", required = "required" })
                </div>
                <div>Tên đăng nhập</div>
                <div class="username">
                    @Html.TextBox("Email", null, new { @id = "username", required = "required" })

                </div>
                <div>Số điện thoại</div>
                <div class="username">
                    @Html.TextBox("SDT", null, new { @id = "sdt", required = "required" })

                </div>
                <div>Địa chỉ</div>
                <div class="username">
                    @Html.TextBox("DiaChi", null, new { @id = "diachi", required = "required" })

                </div>
                <div>Mật khẩu</div>
                <div class="password">
                    @Html.Password("MatKhau", null, new { @id = "password", required = "required" })
                </div>
                <div>

                    <div>
                        <button type="submit" style="background: #468fce; color: white; font-weight: bold;height:30px;border-radius:8px;width:100px; margin-top:10px;">Đăng ký</button>
                    </div>
                    <div>
                    </div>
                </div>
            }
            <button id="btnback" onclick="backtologin()">Quay lại đăng nhập</button>
        </div>
        <div class="col-1">
            <i class="fa-solid fa-rectangle-xmark fa-xl" style="padding:10px;" onclick="closeform()"></i>
        </div>
    </div>
</div>
