@model IEnumerable<WEBBAKERYPro.Models.SANPHAM>

@{
    ViewBag.Title = "QuanLySP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .btncreate {
        color:black;
    }
</style>
<h2 style="margin-top:20px;margin-left:20px"><a href="~/Admin" style="color:black">Quản lý sản phẩm</a></h2>

<p class="btn btn-success" style="margin-left: 20px; color: white;">
    @Html.ActionLink("THÊM SẢN PHẨM MỚI", "Create", null ,new {@class = "btncreate" })
</p>
<table class="table">
    <tr style="border-bottom:solid;font-size:20px">
        <th>
            <b>Ảnh sản phẩm</b>
        </th>
        <th>
            <b>Tên sản phẩm</b>
        </th>
        <th>
            <b>Ngày sản xuất</b>
        </th>
        <th>
            <b>Giá</b>
        </th>
        <th>
            <b>Đánh giá</b>
        </th>
        <th>
            <b>Lượt xem</b>
        </th>
        <th>
            <b>Loại</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="font-size:20px">
            <td>
                <img class="card-img-top book-picture" style="height: 150px; width: 150px; border-radius: 10px; " src="~/Images/@Html.DisplayFor(modelItem => item.HinhSP)" alt="Cardimage">
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.TenSP)</b>
            </td>
            <td>
                <b> @Html.DisplayFor(modelItem => item.NgaySX)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Gia)</b>
            </td>
            <td>
                <b> @Html.DisplayFor(modelItem => item.RateSP)</b>
            </td>
            <td>
                <b> @Html.DisplayFor(modelItem => item.ReviewSP)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.LOAISANPHAM.TenLoai)</b>
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaSP }, new {@class = "btn btn-primary" })
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaSP }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

