@model IEnumerable<WEBBAKERYPro.Models.SANPHAM>

@{
    ViewBag.Title = "QuanLySP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .btncreate {
        color:black;
    }
</style>
<h2 style="margin-top:20px;margin-left:20px"><a href="~/Admin" style="color:black">QuanLySP</a></h2>

<p class="btn btn-success" style="margin-left:10px;">
    @Html.ActionLink("Create New", "Create","Admin", null ,new {@class = "btncreate" })
</p>
<table class="table">
    <tr style="border-bottom:solid">
        <th>
            Ảnh SP
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Ngày SX
        </th>
        <th>
            Giá
        </th>
        <th>
            Rate
        </th>
        <th>
            Review
        </th>
        <th>
            Loại
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>
                <img class="card-img-top book-picture" style="height:80px;border-radius:10px;" src="~/Images/@Html.DisplayFor(modelItem => item.HinhSP)" alt="Cardimage">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAISANPHAM.TenLoai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSP }, new {@class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSP }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

